# Copyright (c) 2017, Code Aurora Forum. All rights reserved.

# fingerprint unlock with screen off by default
write /sys/devices/soc/soc:fpc_fpc1020/enable_wakeup 1

# add support for spectrum
import /init.spectrum.rc

on boot
    # Update cpusets
    write /dev/cpuset/top-app/cpus 0-3
    write /dev/cpuset/foreground/cpus 0-3
    write /dev/cpuset/foreground/boost/cpus 2-3
    write /dev/cpuset/background/cpus 1-3
    write /dev/cpuset/system-background/cpus 0-1
    write /dev/cpuset/camera-daemon/cpus 0,3
    write /dev/cpuset/camera-daemon/mems 0

on property:sys.boot_completed=1

    # Set big.LITTLE scheduler parameters
    write /proc/sys/kernel/sched_boost 0
    write /proc/sys/kernel/sched_upmigrate 45
    write /proc/sys/kernel/sched_downmigrate 40
    write /proc/sys/kernel/sched_freq_inc_notify 400000
    write /proc/sys/kernel/sched_freq_dec_notify 300000
    write /proc/sys/kernel/sched_spill_nr_run 3
    write /proc/sys/kernel/sched_init_task_load 100

    # Set nice Level to 9
    write /proc/sys/kernel/sched_upmigrate_min_nice 9
    
    # Frame Skip
    write /sys/devices/soc/900000.qcom,mdss_mdp/skip_frme 80
    
    # Tweak
    setprop sys.sysctl.extra_free_kbytes 129600
